.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: linear-gradient(90deg, #c05929, #5a2f1b);
  box-shadow: 0 10px 25px rgba(53, 46, 46, 0.35);
}

.nav-left .logo {
  font-size: 28px;
  font-weight: 900;
  color: #f6eee6;
  letter-spacing: 3px;
  cursor: pointer;
}

.nav-center .search-bar {
  padding: 10px 14px;
  border-radius: 25px;
  border: 1px solid #d6c3b5;
  width: 300px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-right svg:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.nav-right a, .nav-right button {
  text-decoration: none;
  color: #f6eee6;
  font-weight: 600;
  transition: 0.3s;
}


.nav-btn {
  background: linear-gradient(135deg, #c9a36a, #a47946);
  border-radius: 25px;
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  font-weight: 700;
}
