.search-bar {
  padding: 15px 40px;
  background: #fdf9f4;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 400px;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #d6c3b5;
  font-size: 14px;
  outline: none;
}
